<div class="personal-container">
  <div *ngIf="personalCoysList.length > 0">
    <mat-form-field appearance="fill" class="filtro">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="Legajo">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-Legajo">Legajo</mat-header-cell>
        <mat-cell *matCellDef="let personal" class="legajo-column">
          <div *ngIf="!personal.editMode">{{ personal.Legajo }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Legajo">
          </mat-form-field>
        </mat-cell>
      </ng-container>
         

      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Nombre }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Nombre">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Apellido">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Apellido }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Apellido">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cargo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Cargo }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Cargo">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Dni">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Dni }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Dni">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Nro_Cell">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Cell</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Nro_Cell }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Nro_Cell">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mail_Empresa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mail Empresa</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Mail_Empresa }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Mail_Empresa">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mail_Personal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mail Personal</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <div *ngIf="!personal.editMode">{{ personal.Mail_Personal }}</div>
          <mat-form-field *ngIf="personal.editMode" appearance="fill" floatLabel="auto">
            <input matInput [(ngModel)]="personal.Mail_Personal">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let personal">
          <button *ngIf="!personal.editMode" mat-icon-button (click)="edit(personal)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="personal.editMode" mat-icon-button (click)="save(personal)">
            <mat-icon>save</mat-icon>
          </button>
          <button *ngIf="personal.editMode" mat-icon-button (click)="cancel(personal)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-paginator-custom"></mat-paginator>
  </div>
</div>