.personal-container {
    background-image: linear-gradient(135deg, #0092c7 0%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-top: 20px;
  }
