.container {
  background-image: linear-gradient(135deg, #0092c7 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 0px; /* aumenta el margen superior a tu gusto */
}


.mat-column-Legajo {
  flex: 0 0 90px; /* ajusta el ancho a tu gusto */
}

.mat-column-Nombre {
  flex: 0 0 130px; /* ajusta el ancho a tu gusto */
}

.mat-column-Apellido {
  flex: 0 0 130px; /* ajusta el ancho a tu gusto */
}

.mat-column-Cargo {
  flex: 0 0 270px; /* ajusta el ancho a tu gusto */
}

.mat-column-Dni {
  flex: 0 0 100px; /* ajusta el ancho a tu gusto */
}

.mat-column-Nro_Cell {
  flex: 0 0 120px; /* ajusta el ancho a tu gusto */
}

.mat-column-Mail_Empresa {
  flex: 0 0 220px; /* ajusta el ancho a tu gusto */
}

.mat-column-Mail_Personal {
  flex: 0 0 220px; /* ajusta el ancho a tu gusto */
}

.mat-column-actions {
  flex: 0 0 120px;
}

mat-table {
  width: 100%;
  max-width: 1400px; // ajusta el ancho máximo a tu gusto
  min-width: 1200px;
  border: 1px solid gray; 
  
}

mat-paginator {
  width: 100%;
  max-width: 1400px; // ajusta el ancho máximo a tu gusto
  min-width: 1200px;
  margin-top: 4px;
  border: 1px solid gray;
}

.filter-search {
  //margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 1400px;
  
}

button.agregar-personal {
  background-color: white;
  color: #0092c7;
  border: 1px solid gray;
}

mat-form-field {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  //border: 1px solid gray;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  margin-bottom: 20px; /* aumenta el margen inferior a tu gusto */
}