<mat-sidenav-container class="home-container custom-sidenav-container">
  <mat-sidenav #sidenav mode="over" fixedInViewport="true" class="custom-sidenav sidenav-same-color">
    <div class="sidenav-content">
      <mat-nav-list>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             RECIBOS DE SUELDO
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                2022
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/enero" class="nested-list-item">
              <span>Enero</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/febrero" class="nested-list-item">
              <span>Febrero</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/marzo" class="nested-list-item">
              <span>Marzo</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/abril" class="nested-list-item">
              <span>Abril</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/mayo" class="nested-list-item">
              <span>Mayo</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/junio" class="nested-list-item">
              <span>Junio</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/julio" class="nested-list-item">
              <span>Julio</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/agosto" class="nested-list-item">
              <span>Agosto</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/septiembre" class="nested-list-item">
              <span>Septiembre</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/octubre" class="nested-list-item">
              <span>Octubre</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/noviembre" class="nested-list-item">
              <span>Noviembre</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2022/diciembre" class="nested-list-item">
              <span>Diciembre</span>
            </a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                2023
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/enero" class="nested-list-item">
              <span>Enero</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/febrero" class="nested-list-item">
              <span>Febrero</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/marzo" class="nested-list-item">
              <span>Marzo</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/abril" class="nested-list-item">
              <span>Abril</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/mayo" class="nested-list-item">
              <span>Mayo</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/junio" class="nested-list-item">
              <span>Junio</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/julio" class="nested-list-item">
              <span>Julio</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/agosto" class="nested-list-item">
              <span>Agosto</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/septiembre" class="nested-list-item">
              <span>Septiembre</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/octubre" class="nested-list-item">
              <span>Octubre</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/noviembre" class="nested-list-item">
              <span>Noviembre</span>
            </a>
            <a mat-list-item routerLink="/recibos-de-sueldo/2023/diciembre" class="nested-list-item">
              <span>Diciembre</span>
            </a>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-nav-list>
      <div class="spacer"></div>
      <div class="separator-line"></div>
      <mat-nav-list>
        <a mat-list-item routerLink="/login" class="logout-item">
          <mat-icon>logout</mat-icon>
          <span>SALIR</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" matRippleDisabled="true">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="centered-toolbar-title">
        <span>AUTOGESTION COyS</span>
      </div>
      <span class="spacer"></span>
      <button mat-icon-button class="user-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <div class="home-content">
      <!-- Contenido del componente home -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

