<mat-sidenav-container class="home-container custom-sidenav-container">
  <mat-sidenav #sidenav mode="over" fixedInViewport="true" class="custom-sidenav sidenav-same-color">
    <mat-nav-list>
      <a mat-list-item routerLink="/recibos-de-sueldo">
        <span>⚪ Recibos de Sueldo</span>
      </a>
      <div class="separator-line"></div> <!-- Línea agregada -->
      <a mat-list-item routerLink="/salir" class="logout-item"> <!-- Modificación aquí -->
        <mat-icon>logout</mat-icon>
        <span>SALIR</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" matRippleDisabled="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span>AUTOGESTION COyS</span>
      <span class="spacer"></span>
      <button mat-icon-button class="user-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <div class="home-content">
      <!-- Contenido del componente home -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
