html, body {
  height: 100%;
  margin: 0;
}

.home-container {
  background-image: linear-gradient(135deg, #0092c7 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.custom-sidenav {
  margin-top: 65px;
  width: 250px;
}

::ng-deep .mat-drawer-container .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

.sidenav-same-color {
  //background-color: #0092c7;
  background-image: linear-gradient(135deg, #0092c7 0%, #00c6f3 100%);
}

::ng-deep .sidenav-same-color .mdc-list-item:hover .mdc-list-item__primary-text {
  color: #fff !important;
}

::ng-deep .sidenav-same-color .mdc-list-item__primary-text {
  color: #fff !important;
}

.spacer {
  flex: 1 1 auto;
}

.user-icon {
  margin-left: auto;
}

.aligned-item {
  display: flex;
  align-items: center;
}

.aligned-item span {
  margin-left: 16px;
}

.logout-item mat-icon {
  margin-right: 16px;
  line-height: 1;
}

.separator-line {
  height: 1px;
  background-color: #fff;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%; // Añade esta línea
}

/* Estilos para el panel de expansión y los elementos de la lista anidada */
::ng-deep .mat-expansion-panel {
  background: #0092c7;
  color: #fff;
}

/* Estilos para el panel de expansión */
::ng-deep .mat-expansion-panel-header {
  background-color: #0092c7;
  color: #fff !important;
}

/* Estilo para el título del panel de expansión */
::ng-deep .mat-expansion-panel-header-title {
  color: #fff;
}


::ng-deep .mat-expansion-panel-content {
  background-color: #0092c7; // FONDO ATRAS DE LOS AÑOS 
}


/* Estilo para el elemento de la lista "Recibos de Sueldo" */
::ng-deep .mat-nav-list .mat-list-item {
  color: #fff !important;
}

/* Estilos para los elementos de la lista anidada */
::ng-deep .nested-list-item {
  --mdc-list-list-item-container-color: #0092c7; //FONDO MESES
  --mdc-list-list-item-selected-container-color: #0092c7;//FONDO MESES
  --mdc-list-list-item-leading-avatar-color: #0092c7;//FONDO MESES
  color: #fff !important;
}

::ng-deep .nested-list-item:hover {
  background-color: rgba(183, 229, 246, 0.8); // FONDO CUANDO SELECIONA MES
  color: #fff !important;
}

/* Estilo para el ícono del indicador de expansión */
::ng-deep .mat-expansion-indicator::after {
  color: #fff;
}

/* Estilos para ajustar el título del toolbar */
.centered-toolbar-title {
  display: flex;
  flex-direction: row-reverse; /* Agrega esta línea */
  justify-content: flex-start;
  flex: 1;
  font-size: 1.2em; /* Aumenta un poco el tamaño del texto */
}

/* Estilos para el borde inferior del toolbar */
.mat-toolbar {
  border-bottom: 1px solid #fff;
}

/* Estilo para agregar espacio entre las cajas de opciones */
::ng-deep .nested-list-item-container {
  margin-bottom: 8px; // Ajusta este valor según tus necesidades
}
